
/*COLORS:
#4b5b5b - dk blu
#7b9999 - med blu
#760000 - dk rosso
#cf0900 - lt rosso
#b8cccb - lt blu
#e5e5e5 - lt griglio
#fff - bianco*/

/*
FONTS:
font-family: 'Anton', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
*/

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.navbar {
    background-color: #fff;
}

.navbar-toggler {
    color: #7b9999; 
}

.navbar-brand a:hover {
    color: #cf0900;
}

.nav-header {
/*    box-shadow: 0 20px 10px -14px rgba(123, 153, 153, .4);*/
    border-bottom: 2px solid #7b9999;
}

.nav-link {
    color: #4b5b5b;
    font-family: 'Archivo Narrow', sans-serif; 
    font-weight: 600;
}

.nav-link:hover {
    color: #cf0900;
    font-weight: 600;
}

.nav-link:active {
    color: #cf0900;
    font-weight: 600;
}

/*
.container {
    margin-top: 185px;
}
*/

.mainSection {
    margin-top: 185px;
/*    margin-bottom: 100px;*/
    padding: 10px;
    border: 2px solid #b8cccb;
    border-radius: 14px;
}

.mainHeader {
    padding: 20px 0;
    margin: 0 20px;
    font-family: 'Anton', sans-serif; 
    font-size: 6rems;
    color: #4b5b5b;
    border-bottom: 1px solid #cf0900;
}

.mainContent {
    padding: 20px;
}


.myPhoto {
    margin-right: 30px;
    margin-bottom: 20px;
}


.sidebar {
    margin-top: 185px;
    height: 50%;
    padding: 20px;
    border: 2px solid #b8cccb;
    border-radius: 14px;
}

.sidebar h4 {
    text-align: center;
    padding: 20px 10px;
    color: #4b5b5b;
    font-family: 'Anton', sans-serif; 
    font-size: 30px;
}

/*
.icons {
    margin-bottom: 20px;
}
*/

.icons img{
   width: 100% !important;
    height: auto;
}




.container-fluid {
    position: relative;
    margin-top: 85px;
}

.footer {
    height: 57px;
    background-color: #e5e5e5;
    position: relative;
}

.footer > .container {
    height: 57px;
}

/*
.footer-links {
    display: inline;
}
*/

/*
.constrainedContainer {
    width: 100%;
}
*/


.footerContent {
    /* position: absolute; 
    wondering if this is necessary? ^^^ */
}


.copyright {
    color: #fff;
/*    line-height: 50px;*/
}

.nav-item {
    list-style: none;
    float: left;
    font-family: 'Archivo Narrow', sans-serif; 
    font-weight: 400;
   
}

.footer-item {
    list-style: none;
    float: left;
    color: #760000;
    font-family: 'Archivo Narrow', sans-serif; 
    font-weight: 400;
    line-height: 57px;
/*    text-align: center;*/
}

.footer-links {
    text-align: center;
}

.flink {
    color: #4b5b5b;
    font-family: 'Archivo Narrow', sans-serif; 
    font-weight: 600;
}

.flink:hover {
    color: #cf0900;
    font-weight: 600;
    text-decoration: none;
}

.flink:active {
    color: #cf0900;
    font-weight: 600;
}

.divider {
    color: #fff;
    padding: 0 10px;
}


.emptyText {
    opacity: 0;
}

.boxes {
    /* position: absolute;
    right: 153px; */
    padding-left: 0;
    padding-right: 0;
}

.box1 {
    background-color: #760000;
    height: 57px;
    width: 57px;
    border: none;
    float: left;
}

.box2 {
    background-color: #cf0900;
    height: 57px;
    width: 57px;
    border: none;
    float: left;
}

.box3 {
    background-color: #7b9999;
    height: 57px;
    width: 57px;
    border: none;
    float: left;
}

.box4 {
    background-color: #b8cccb;
    height: 57px;
    width: 57px;
    border: none;
    float: left;
}

.box5 {
    background-color: #e5e5e5;
    height: 57px;
    width: 57px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 2px solid #fff;
    float: left;
}


/*
_____________________________________

MEDIA QUERIES
_____________________________________*/

@media (max-width: 1210px) {
    
}

@media (max-width: 1002px) {
  .footerContent {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}
  .boxes {
    display: none;
}
  .box1 {
    visibility: hidden;
}  
    
  .box2 {
    visibility: hidden;
}

  .box3 {
    visibility: hidden;
}

  .box4 {
    visibility: hidden;
}

  .box5 {
    visibility: hidden;
}
}